<%- include('partials/header') %>
    <main>
        <h1>
            <%= title %>
        </h1>

        <p>Explore service opportunities by category and find the right fit for you.</p>

        <div class="tag-grid">
            <% categories.forEach(cat=> { %>
                <a href="/category/<%= cat.category_id %>" class="tag">
                    <%= cat.name %>
                </a>
                <% }) %>
        </div>
    </main>
    <%- include('partials/footer') %>