<%- include('partials/header') %>
    <main>
        <h1>
            <%= title %>
        </h1>

        <p>Here are a few of our partner organizations:</p>

        <div class="card-grid">
            <% organizations.forEach(organization=> { %>
                <div class="card">
                    <img src="/images/<%= organization.logo_filename %>" alt="<%= organization.name %> logo">
                    <strong><a href="/organization/<%= organization.organization_id %>">
                            <%= organization.name %>
                        </a></strong>
                    <p>
                        <%= organization.description %>
                    </p>
                    <span>
                        <%= organization.contact_email %>
                    </span>
                </div>
                <% }) %>
        </div>
    </main>
    <%- include('partials/footer') %>